.glogo {
    width:15px;
    height:15px;
   
}

.logo-shelp{

    width: 191px;
    height: 39px;
    opacity: 1;
    
}  
        
.profile-logo{
    width: 40px;
    height: 20px;
    opacity: 1;
}