.Content-text {
  font: normal normal 400 66px/106px Gilroy;
  letter-spacing: 3.16px;
  line-height: normal;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-size: 60px;
}
.heading-1 {
  color: #3c4852;
}

.heading-2 {
  color: #3c4852;
}

.heading-3 {
  color: #2d81f7;
}

.heading-4 {
  color: #EF2E68;
}

.MainPageback {
}

.circle1,
.circle2 {
  position: absolute;
}

.circle1 {
  width: 150px;
  left: 0px;
  bottom: 0px;
}
.circle2 {
  width: 240px;
  bottom: -150px;
  left: -120px;
}

@media (max-width: 700px) {
  .Content-text {
    display: none;
  }
}
